# Story - 3 : Do Stricter Gun Laws Reduce Firearm Gun Deaths?

### Brandon Chung
### 10/12/2025

## Introduction

In this data story assignment I will be attempting to answer the question: "Do stricter firearm control laws help reduce firearm mortality?".

## Data Preprocessing

Data Obtained: 

-  Mortality Rate by State data obtained via exporting from CDC website url: https://www.cdc.gov/nchs/state-stats/deaths/firearms.html?CDC_AAref_Val=https://www.cdc.gov/nchs/pressroom/sosmap/firearm_mortality/firearm.htm

-  Gun law strength ranknings obtained via manual extraction from Gifford's gun law strength 2023 annual scorecard. https://giffords.org/lawcenter/resources/scorecard/?scorecard=CA

In [29]:
# Loading in raw data csv of downloaded data 

mortality_df = pd.read_csv('https://raw.githubusercontent.com/Chung-Brandon/608-Knowledge-and-Visual-Analytics/refs/heads/main/US%20Firearm%20Mortality%20Rate.csv')

# Filtering only most recent year 2023
mortality_df = mortality_df[mortality_df['YEAR'] == 2023]

mortality_2023_df = mortality_df[['STATE', 'RATE']]

mortality_2023_df.head()

  STATE  RATE
0    AL  25.6
1    AK  23.5
2    AZ  18.5
3    AR  21.9
4    CA   8.0

Here I have downloaded the latest firearm mortality rate data from the CDC, loaded the dataset into my notebook and isolated the most recent year along with the mortality rate per 100,000 for analysis.

In [30]:
# Manually recording Gifford's gun law strength rankings for 2023
giffords_grades_2023 = {
    'CA': 'A',  'NJ': 'A',  'CT': 'A',
    'IL': 'A-', 'NY': 'A-', 'HI': 'A-', 'MA': 'A-', 'MD': 'A-', 'WA': 'A-', 'CO': 'A-', 'OR': 'A-',
    'RI': 'B+', 'DE': 'B+', 'VA': 'B+',
    'MN': 'B',  'PA': 'B',
    'MI': 'B-', 'VT': 'B-', 'NV': 'B-',
    'NM': 'C+', 'WI': 'C',  'NC': 'C-', 'NE': 'C-',
    'FL': 'D+', 'IN': 'D-', 'OH': 'D-', 'ME': 'D-', 'NH': 'D-', 'SC': 'D-',
    'UT': 'F',  'TX': 'F',  'LA': 'F',  'GA': 'F',  'IA': 'F',  'AL': 'F',  'ND': 'F',  'OK': 'F',
    'WV': 'F',  'TN': 'F',  'AK': 'F',  'AZ': 'F',  'KS': 'F',  'SD': 'F',  'MS': 'F',  'MT': 'F',
    'ID': 'F',  'KY': 'F',  'AR': 'F',  'MO': 'F',  'WY': 'F'
}

# Assigning likert scale values to grades
grade_to_value = {
    'A': 5,
    'A-': 5,
    'B+': 4,
    'B': 4,
    'B-': 4,
    'C+': 3,
    'C': 3,
    'C-': 3,
    'D+': 2,
    'D': 2,
    'D-': 2,
    'F': 1
}
# Creating a DataFrame from the dictionary
giffords_df = pd.DataFrame(list(giffords_grades_2023.items()), columns=['STATE', 'GRADE'])
giffords_df['GRADE_VALUE'] = giffords_df['GRADE'].map(grade_to_value)
giffords_df.head()

  STATE GRADE  GRADE_VALUE
0    CA     A            5
1    NJ     A            5
2    CT     A            5
3    IL    A-            5
4    NY    A-            5

In [34]:
# Combining the two datasets on STATE
combined_df = pd.merge(mortality_2023_df, giffords_df, on='STATE')

combined_df.head()

  STATE  RATE GRADE  GRADE_VALUE
0    AL  25.6     F            1
1    AK  23.5     F            1
2    AZ  18.5     F            1
3    AR  21.9     F            1
4    CA   8.0     A            5

The combined df contains 50 states, excluding the District of Columbia, which was included in the CDC firearm mortality data.

In [ ]:
# correlation of rate and grade value (Likert scale)
correlation = combined_df['RATE'].corr(combined_df['GRADE_VALUE'])
correlation

np.float64(-0.6564280836064513)